ul{
    list-style: none;
    display: flex;
    width: 13em;
}
nav{
    display: flex;
    justify-content: space-between;
}
#product{
    margin-left: 13px;
}
#contact{
    margin-left: 13px;
}
#kryesore{
    display: flex;
    justify-content: center;
}

